

<GridLayout class="page">


  <ActionBar title="Catalog">


  </ActionBar>

  <StackLayout class="page p-t-10" style="color: white">
    <!--<ActivityIndicator [busy]="isBusy" ></ActivityIndicator>-->
  </StackLayout>


  <StackLayout
               class="initial-container">





    <ListView [items]="books"  class="list-group">

      <ListView.itemTemplate>
        <template  let-book="item">

          <GridLayout (tap)="showBook(book)" class=" visible list-group-item" >
            <Label [text]="book.title"  class="label-item"></Label>
          </GridLayout>

        </template>
      </ListView.itemTemplate>
    </ListView>

  </StackLayout>



</GridLayout>