
<ActionBar title="Catalog">


</ActionBar>

<GridLayout class="page">





  <!--<ActivityIndicator [busy]="isBusy" ></ActivityIndicator>-->






  <ListView [items]="books | async"  class="list-group">

    <ListView.itemTemplate >
      <template  let-book="item" >

        <StackLayout orientation="horizontal" (tap)="showBook(book)" class=" visible list-group-item" >
          <Image [src]="book.thumbCoverImage" stretch ="aspectFit" height="60" width="60"></Image>
          <StackLayout >
            <Label marginLeft="10" [text]="book.title" textWrap="true"  class="label-item"></Label>
            <Label marginLeft="10" marginTop="5" color="#696969"  fontSize="12" [text]="book.details"  class="label-item"></Label>
          </StackLayout>
        </StackLayout>

      </template>
    </ListView.itemTemplate>
  </ListView>




</GridLayout>